* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-border-empty: #c0c0c0;
  --line-border-fill: #416cf9;
}

body {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  width: 400px;
}

.progress-container::before {
  content: " ";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circle.active {
  border: 3px solid var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
